<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <div class="nav-bar-items">Rider</div>
        </div>
        <div id="nav-bar-right">
            <div (click) = "onClickNav()"
            class="nav-bar-items" style="cursor: pointer;">Login</div>
        </div>
    </div>
</div>


<div class="home-page">
    <div class="home-page-landing">
           <div id="landing-left">
            <div id="landing-left-content">
                <h1>Social Media App Platform</h1>
                <p>Share your stories</p>
                <button (click) = onGetStartedClick()
                class="btn btn-secondary">Get started</button>
            </div>
           </div>
           <div>
           </div>
    </div>
</div>